$chevron-bottom-edge-color: darkgray;
$chevron-top-edge-color: darkgray;
$navigation-list-background: #E9EFEA;
$row-height: 36px;
$title-bar-background: #E5EFDF;
$title-bar-bottom-border: 1px solid lightgray;

.is-hidden {
    visibility: hidden;
}
