$base-font-size: 11pt;
$chevron-bottom-edge-color: darkgray;
$chevron-top-edge-color: darkgray;
$link-text-color: rgb(0, 22, 228);
$navigation-list-background: #fafffa;
$row-height: 36px;
$title-bar-background: #f2f9f0;
$title-bar-bottom-border: 1px solid lightgray;

.hyperlink {
    -moz-box-shadow: inset 0 -0.12em 0 0 rgba(0, 22, 228, 0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
    -webkit-box-shadow: inset 0 -0.12em 0 0 rgba(75, 80, 125, 0.59), inset 0 -0.05em 0 0 rgba(255, 255, 255, 0.62);
    box-shadow: inset 0 -0.12em 0 0 rgba(75, 80, 125, 0.59), inset 0 -0.05em 0 0 rgba(255, 255, 255, 0.62);
    color: #0016e4;
    cursor: pointer;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.is-hidden {
    visibility: hidden;
}
