$base-font-size: 11pt;
$chevron-bottom-edge-color: darkgray;
$chevron-top-edge-color: darkgray;
$link-text-color: rgb(0, 22, 228);
$navigation-list-background: #fafffa;
$row-height: 36px;
$title-bar-background: #eaf1e7;
$title-bar-bottom-border: 1px solid lightgray;

.is-hidden {
    visibility: hidden;
}
