$even-list-item-background: #fafffa;
$focused-list-item-background: #1E69DE;
$list-item-bottom-border: 1px solid #f0f0f0;
$loading-text-color: #606060;
$navigator-item-right-info-color: #6f6f5f;
$odd-list-item-background: #fafffa;
$selected-list-item-background: #1E69DE;

@keyframes hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

@-moz-keyframes hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

@-webkit-keyframes hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

@keyframes loading-indicator {
    0%,
    60%,
    100% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }
}

@-moz-keyframes loading-indicator {
    0%,
    60%,
    100% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }
}

@-webkit-keyframes loading-indicator {
    0%,
    60%,
    100% {
        opacity: 0.4;
    }
    30% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        margin-left: 100%;
    }
    25% {
        margin-left: 75%;
    }
    50% {
        margin-left: 50%;
    }
    75% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0%;
    }
}

@-moz-keyframes slide-in {
    0% {
        margin-left: 100%;
    }
    25% {
        margin-left: 75%;
    }
    50% {
        margin-left: 50%;
    }
    75% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0%;
    }
}

@-webkit-keyframes slide-in {
    0% {
        margin-left: 100%;
    }
    25% {
        margin-left: 75%;
    }
    50% {
        margin-left: 50%;
    }
    75% {
        margin-left: 25%;
    }
    100% {
        margin-left: 0%;
    }
}

@keyframes trailbar-hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

@-moz-keyframes trailbar-hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

@-webkit-keyframes trailbar-hover {
    0% {
        background: rgba(51, 152, 254, 0.05);
    }
    25% {
        background: rgba(51, 152, 254, 0.10);
    }
    50% {
        background: rgba(51, 152, 254, 0.15);
    }
    75% {
        background: rgba(51, 152, 254, 0.2);
    }
    100% {
        background: rgba(51, 152, 254, 0.21);
    }
}

.loading-indicator, .loading-indicator:after, .loading-indicator:before {
    -moz-animation: loading-indicator 800ms infinite ease-in-out;
    -webkit-animation: loading-indicator 800ms infinite ease-in-out;
    animation: loading-indicator 800ms infinite ease-in-out;
    color: $loading-text-color;
    content: '.';
    font-weight: bold;
}

.loading-indicator {
    animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
}

.loading-indicator:after {
    animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
}

$theme.sc-list-item-view.sc-regular-size {
    font-size: $base-font-size;
}

$theme.sc-view.sc-list-item-view.item-view.sc-collection-item {
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background: $even-list-item-background;
    cursor: pointer;
    font-smoothing: antialiased;
    height: $row-height;
    margin: 1px 0px -1px 0px;

    .sc-outline.loading {
        animation: none;

        label {
            color: $loading-text-color;
            font-style: italic;
        }
    }

    &.odd {
        background: $odd-list-item-background;

        .sc-outline.loading {
            color: $loading-text-color;
            font-style: italic;
        }
    }

    &.even.list-item-selected {
        animation: none;
        background: $selected-list-item-background;
        color: white;
        cursor: default;
        -moz-animation: none;
        -webkit-animation: none;

        .loading {
            cursor: wait;
        }

        .sc-outline > label > a:hover {
            text-decoration: none;
        }

        .sc-outline.loading {
            background: $even-list-item-background;
            color: $loading-text-color;
         }
    }

    &.odd.list-item-selected {
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
        background: $selected-list-item-background;
        color: white;
        cursor: default;

        .loading {
            cursor: wait;
        }

        .sc-outline > label > a:hover {
            text-decoration: none;
        }

        .sc-outline.loading {
            background: $odd-list-item-background;
            color: $loading-text-color;
        }
    }

    &.even.sel.unfocused, &.odd.sel.unfocused {
        background: $selected-list-item-background;
        color: white;
    }

    &.even.list-item-hover {
        animation-name: hover;
        animation-duration: .5s;
        background: rgba(51, 152, 254, 0.2);
        cursor: pointer;
        -moz-animation-name: hover;
        -moz-animation-duration: .5s;
        -webkit-animation-name: hover;
        -webkit-animation-duration: .5s;

        &.loading {
            -moz-animation: none;
            -webkit-animation: none;
            animation: none;
            background: $even-list-item-background;
            cursor: default;
        }

        .sc-outline label a {
            -moz-box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            -webkit-box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            text-decoration: none;
            text-shadow: .05em 0 rgb(202, 221, 237), -.05em 0 rgb(202, 221, 237), 1.5px 0 rgb(202, 221, 237), -1.5px 0 rgb(202, 221, 237);
        }
    }

    &.odd.list-item-hover {
        animation-name: hover;
        animation-duration: .5s;
        background: rgba(51, 152, 254, 0.2);
        cursor: pointer;
        -moz-animation-name: hover;
        -moz-animation-duration: .5s;
        -webkit-animation-name: hover;
        -webkit-animation-duration: .5s;

        &.loading {
            -moz-animation: none;
            -webkit-animation: none;
            animation: none;
            background: $odd-list-item-background;
            cursor: default;
        }

        .sc-outline label a {
            -moz-box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            -webkit-box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            box-shadow: inset 0 -0.12em 0 0 rgba(0,22,228,0.4), inset 0 -0.05em 0 0 rgba(0, 22, 228, 0.6);
            text-decoration: none;
            text-shadow: .05em 0 rgb(202, 221, 237), -.05em 0 rgb(202, 221, 237), 1.5px 0 rgb(202, 221, 237), -1.5px 0 rgb(202, 221, 237);
        }
    }

    &.even.list-item-hover label {
    }

    &.odd.list-item-hover label {
    }

    &.list-item-hover {
        .sc-outline {
            .count {
                .inner {
                }
            }
        }

        .sc-outline.loading {
            & label.loading {
                color: $loading-text-color;
                cursor: wait;
                font-style: italic;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

$theme.sc-view.sc-list-item-view.item-view.sc-collection-item {
    &.focused-list-item .sc-outline {
        border-bottom: 1px solid blue;
        border-top: 1px solid blue;
    }

    .sc-outline {
        border-top: 1px solid transparent;
        border-bottom: $list-item-bottom-border;

        .count {
            background-color: transparent;
            border: none;
            right: 8px;

            .inner {
                color: $navigator-item-right-info-color;
                -webkit-border-radius: not;
                -webkit-font-smoothing: antialiased;

                font-size: 10pt;
                font-weight: normal;
                height: 10px;
                line-height: 10px;
                -webkit-border-radius: not;
            }
        }
    }

    &.sel {
        label {
            color: white;
            cursor: default;

            &:hover {
                 text-decoration: none;
            }
        }
    }

    &.sel {
        .count .inner {
            color: white;
        }
        .right-font-icon {
            color: white;
            -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#FFFFFF));
        }
    }

    &.focused-list-item {
        background: #d4e4fd;
    }

    label {
        color: $link-text-color;
        cursor: pointer;
        font-smoothing: antialiased;
        height: auto;
        line-height: $row-height;
        margin-left: 4px;
        margin-top: 0px;
        right: 36px;
        top: 0px;
        -webkit-font-smoothing: antialiased;
    }

    .right-font-icon {
        color: $navigator-item-right-info-color;
        line-height: 36px;
        margin-right: 3px;
        position: absolute;
        right: 10px;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#FFFFFF));
    }
}