$properties-value-max-width: 90%;

$theme.properties-view {
    ul li {
        display: inline;
        list-style-type: none;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.circle1 {
    -moz-animation: spin-clockwise 0.5s infinite linear;
    -webkit-animation: spin-clockwise 0.5s infinite linear;
    animation: spin-clockwise 0.5s infinite linear;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    border-top: 5px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 35px #2187e7;
    height: 100px;
    left: calc(50% - 50px);
    margin-left: 25px;
    opacity: 0.9;
    position: absolute;
    top: calc(50% - 99px);
    visibility: visible;
    width: 100px;
}

.circle2 {
    -moz-animation: spin-counterclockwise 0.5s infinite linear;
    -webkit-animation: spin-counterclockwise 0.5s infinite linear;
    animation: spin-counterclockwise 0.5s infinite linear;
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    border-top: 5px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 15px #2187e7;
    height: 87px;
    left: calc(50% - 18px);
    margin: 0 auto;
    opacity: 0.9;
    position: absolute;
    width: 87px;
    top: calc(50% - 92px);
    visibility: visible;
}

.details-busy-curtain {
    cursor: wait;
}

.loading-content-label {
    opacity: 0.6;
}

.loading-content-value {
    opacity: 0.4;
}

.ordinal {
    color: #707070;
    font-size: 10pt;
    text-align: right;
}

.properties-scrollable-content {
    background: #FAFFFA;
    border-top: 1px solid $navigation-list-background;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    min-width: 100%;
    position: absolute;
    right: 0;
    top: $row-height + 1;
}

.properties-title {
    height: $row-height;
    line-height: $row-height;
    min-width: 100%;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.read-only-field-label {
    font-weight: bold;
    line-height: 1em;
    padding: 0.6em 20px 0 20px;
    white-space: nowrap;
}

.read-only-field-label-count {
    background: #dadada;
    border-radius: 10rem;
    color: #000000;
    display: inline-block;
    font-size: 75%;
    font-weight: normal;
    padding: 0.25em 0.4em;
    padding-left: .6em;
    padding-right: .6em;
    text-align: center;
    vertical-align: baseline;
}

.read-only-field-value {
    max-width: $properties-value-max-width;
    padding: 0 20px 0 20px;

    div {
        margin-bottom: 0.25em;
    }
}

.read-only-field-value-inline {
}

.read-only-form-section-heading {
    font-weight: bold;
    height: $row-height;
    max-width: $properties-value-max-width;
}

.title-bar-right {
    padding-right: 1em;
}

.title-bar-title {
    display: inline-table;
    height: $row-height;
    font-size: 14pt;
    padding-left: 20px;
}

.title-bar-type {
    display: inline-table;
    height: $row-height;
    line-height: $row-height;

    & span {
      margin-right: 4px;
    }
}
