.found-in-property-name {
    font-style: italic;
}

.found-in-property-name-list-item {
    list-style: none;
    padding-left: 2em;
}

.highlighted-search-text {
    font-weight: bold;
}

.is-sorted-ascendingly {
    border-bottom: #404040 solid 0px;
    border-left: rgba(0, 0, 0, 0) solid 4px;
    border-right: rgba(0, 0, 0, 0) solid 4px;
    border-top: #404040 solid 8px;
    bottom: auto;
    height: 0 !important;
    margin-left: 0.2em;
    position: relative;
    top: 15px;
    width: 0;
}

.is-sorted-descendingly {
    border-bottom: #404040 solid 8px;
    border-left: rgba(0, 0, 0, 0) solid 4px;
    border-right: rgba(0, 0, 0, 0) solid 4px;
    border-top: #404040 solid 0px;
    bottom: auto;
    height: 0 !important;
    margin-left: 0.2em;
    position: relative;
    top: -15px;
    width: 0;
}

.is-sorted-ascendingly-by-links {
    @extend .is-sorted-ascendingly;
}

.is-sorted-descendingly-by-links {
    @extend .is-sorted-descendingly;
}

.is-sorted-ascendingly-by-name {
    @extend .is-sorted-ascendingly;
}

.is-sorted-descendingly-by-name {
    @extend .is-sorted-descendingly;
}

.is-sorted-ascendingly-by-type {
    @extend .is-sorted-ascendingly;
}

.is-sorted-descendingly-by-type {
    @extend .is-sorted-descendingly;
}

p.found-in-properties-title {
    font-size: 11pt;
    padding-left: 1em;

    ul {
        font-size: 11pt;
        list-style: none;
    }
}

.search-pane {
    background: $navigation-scroll-view-background;
}

.search-refine-link {
    background: #F2F9EE;
    border-top: 1px solid #c0c0c0;
    bottom: 0;
    left: 0;
    line-height: $row-height;
    padding: 0 2em;
    position: absolute;
    right: 0;
}

.search-result {

    &:nth-child(0) {
         line-height: 1em;
         padding-left: 1em;
         padding-right: 0.3em;
         vertical-align: middle;
    }
}

.search-result {
    line-height: 2rem;
    padding: 0.5em 2em 0;

    a {
        padding-left: 0.5em;
    }
}

.search-result-found-in {
    padding: 0 2em 0.2em 3.5em;
}

.search-results-index-cell {
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

.search-results-links-cell {
    min-width: 77px;
    width: 77px;
}

.search-results-type-icon {
    color: #404040;
    padding-left: 0.5em;
}

.search-results-type-name {
    padding-right: 0.4em;
    vertical-align: top;
}

.search-scroll-pane {
    background-color: #e0e0e0;
    bottom: $row-height;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;

    &.is-showing-partial-results {
         top: $row-height + 1;
    }
}

.showing-partial-results-description {
    background: #F2F9EE;
    border-bottom: 1px solid #BBBBBB;
    line-height: $row-height;
    padding: 0 1em;
}

table.search-results-table {
    width: 100%;
    tbody {
        tr {
            border-bottom: $list-item-bottom-border;
            td {
                border-left: 1px solid #eaeaea;
            }
            td.search-results-links-cell {
                text-align: right;
            }
            td.search-results-links-cell > span {
                padding-right: 0.5em;
            }
            td.search-results-type-cell {
                vertical-align: top;
            }
            td:nth-child(1) {
                border-left: none;
            }
        }
        tr:nth-child(even) {
            background: $even-list-item-background;
        }
        tr:nth-child(odd) {
            background: $odd-list-item-background;
        }
    }
    thead {
        tr {
            td {
                border-bottom: 1px solid #909090;
                border-left: 1px solid #a0a0a0;
                font-weight: bold;
                padding: 0.2em 0.5em;
                &:nth-child(0) {
                    border-left: none;
                }
                &.search-results-description-cell {
                    cursor: pointer;
                    &:hover {
                        background: yellow;
                    }
                }
                &.search-results-type-cell {
                    cursor: pointer;
                    &:hover {
                        background: yellow;
                    }
                }
                &.search-results-links-cell {
                    cursor: pointer;
                    &:hover {
                        background: yellow;
                    }
                }
            }
        }
    }
    td {
        border: none;
        padding: 0.2em 0.5em;
        vertical-align: top;
    }
}