.found-in-property-name {
    font-style: italic;
}

.sc-view.sc-scroll-view.search-pane {
    z-index: 1000;
}

.search-result {

    &:nth-child(0) {
         line-height: 1em;
         padding-left: 1em;
         padding-right: 0.3em;
         vertical-align: middle;
    }
}

.search-result {
    line-height: 2rem;
    padding: 0.5em 2em 0;

    a {
        padding-left: 0.5em;
    }
}

.search-result-found-in {
    line-height: 1em;
    padding: 0 2em 0.2em 3.5em;
}

.search-results-type-name {
    font-size: 0.85em;
    line-height: 1em;
    padding-left: 0.5em;
    vertical-align: middle;
}

.showing-partial-results-description {
    line-height: 2rem;
    padding: 0.5em 2em 0;
}

ul.search-results {
    list-style-type: none;

    & li {
        line-height: 1em;
        list-style-type: none;
        padding-bottom: 0.5em;
    }
}