@keyframes modal-blocker-fade {
    from {
        background: rgba(0, 0, 0, 0.0);
        visibility: hidden;
    }
    to {
        background: rgba(0, 0, 0, 0.3);
        visibility: visible;
    }
}

$theme.sc-view {
    color: #333;
    font-family: 'Avenir Next LT Pro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: $base-font-size;
    font-weight: normal;
}

$theme.sc-main {
     background: white;
     background-image: none;
}

$theme.sc-modal {
    animation: modal-blocker-fade 0.3s linear 0s 1;
    background: rgba(0, 0, 0, 0.3);
    cursor: default;
    -moz-animation: modal-blocker-fade 0.3s linear 0s 1;
    -webkit-animation: modal-blocker-fade 0.3s linear 0s 1;
}