<div id="connection-error-message-panel">
    <p class="connection-error-h1"><span class="stronger">Sqwerl can't phone home</span></p>
    <p class="possible-reasons-title">Probably because:</p>
    <ol>
        <li>The Sqwerl service is down&mdash;not working, unavailable, offline, kaput, crashed, pushing daisies
            <ul>
                <li>Our bad. Please let us know that <a href="mailto:your-fly-is-open@sqwerl.com">our fly is open</a>!</li>
            </ul>
        </li>

        <li>You're not connected to the Internet
            <ul>
                <li>Does your computer have a network cable plugged into it?</li>
                <li>Is your wireless connection (WiFi or cellular) working? How many bars do you have?</li>
            </ul>
        </li>

        <li>One or more of the following:
            <ul>
                <li>Firewall software on your network</li>
                <li>Your computer's firewall</li>
                <li>Your computer's anti-virus software</li>
                <li>One of your web browser's plug-ins, extensions, doo-dads, or thing-a-ma-bobs</li>
                <li>Your web browser</li>
            </ul>
        </li>
    </ol>

    <p class="connection-error-h2">We can't rule out cosmic rays, aliens, or Internet traffic jams. Please <a href="/sqwerl" onclick="$('#connection-error-message-panel').removeClass('bounce-in').addClass('bounce-out');">try again</a>.</p>
</div>