<div id="connection-error-message-panel">
    <p class="connection-error-h1"><span class="stronger">Can't Communicate with Server</span></p>
    <p>Two possible reasons:</p>
    <ol>
        <li>The Sqwerl data server is down: unavailable, offline, kaput, crashed, pushing daisies.
            <ul>
                <li>Our bad. Please tell us that <a href="mailto:your-fly-is-open@sqwerl.com">our fly is open</a>!</li>
            </ul>
        </li>

        <li>There's a problem with your network.
            <ul>
                <li>Are you connected to a network?
                    <ul>
                        <li>Does your computer have a network cable plugged into it?</li>
                        <li>Is your WiFi or Cellular connection up? How many bars do you have?</li>
                    </ul>
                </li>

                <li>One of the following prevents communication:
                    <ul>
                        <li>Network firewalls</li>
                        <li>Anti-virus or firewall software on your computer</li>
                        <li>One of your Web browser's plug-ins, extensions, doo-dads, or thingamabobs </li>
                        <li>Your Web browser</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>

    <p class="connection-error-h2">We can't rule out aliens, cosmic rays, or Internet traffic jams. Please <a href="/sqwerl" onclick="$('#connection-error-message-panel').removeClass('bounce-in').addClass('bounce-out');">try again</a>.</p>
</div>