<div id="connection-error-message-panel">
    <p class="connection-error-h1"><span class="stronger">Sqwerl can't call home</span></p>
    <p class="possible-reasons-title">Three possible causes are:</p>
    <ol>
        <li>The Sqwerl data server is down: unavailable, offline, kaput, crashed, is pushing daisies.
            <ul>
                <li>Our bad. Please let us know that <a href="mailto:your-fly-is-open@sqwerl.com">our fly is open</a>!</li>
            </ul>
        </li>

        <li>There's an issue with your network.
            <ul>
                <li>Are you connected to a network?
                <li>Does your computer have a network cable plugged into it?</li>
                <li>Is your wireless (WiFi or cellular) connection working? How many bars do you have?</li>
            </ul>
        </li>

         <li>One or more of the following things is getting in the way:
            <ul>
                <li>Network firewalls</li>
                <li>Anti-virus or firewall software installed on your computer</li>
                <li>One of your web browser's plug-ins, extensions, doo-dads, or thing-a-ma-bobs </li>
                <li>Your web browser</li>
            </ul>
        </li>
    </ol>

    <p class="connection-error-h2">We can't rule out aliens, cosmic rays, or Internet traffic jams. Please <a href="/sqwerl" onclick="$('#connection-error-message-panel').removeClass('bounce-in').addClass('bounce-out');">try again</a>.</p>
</div>