<div class="properties-title" style="background: none;">
    <div class="title-bar-title">Loading{{name}}...</div>
    <span class="title-bar-right"></span>
</div>

<div class="properties-scrollable-content">
    <div class="read-only-label-and-value">
        <div class="read-only-field-label"><span class="loading-content-label">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
        <div class="read-only-field-value"><span class="loading-content-value">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
    </div>

    <div class="read-only-label-and-value">
        <div class="read-only-field-label"><span class="loading-content-label">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
        <div class="read-only-field-value"><span class="loading-content-value">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
        <div class="read-only-field-value"><span class="loading-content-value">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
    </div>

    <div class="read-only-label-and-value">
        <div class="read-only-field-label"><span class="loading-content-label">&#x2588;&#x2588;&#x2588;</span></div>
        <div class="read-only-field-value"><span class="loading-content-value">&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;&#x2588;</span></div>
    </div>
</div>