<div class="properties-title">
    <div class="title-bar-title">Loading {{name}}...</div>
</div>

<div class="properties-scrollable-content">
    <div class="loading-properties">
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
</div>