<div class="properties-title">
    <div class="title-bar-title">{{name}}</div>
    <div class="tile-bar-type">is a type of thing</div>
    <span class="title-bar-links">
        {{#if hasChildren}}
            <span>that has</span>
            {{#if hasMultipleChildren}}
                {{childCount}} children
            {{else}}
                one child
            {{/if}}
        {{/if}}
    </span>
</div>

<div class="properties-scrollable-content">
    <div>
        {{#if shortDescription tagName="tr"}}
            <td class="read-only-field-label">Short description</td>
            <td class="read-only-field-value">{{shortDescription}}</td>
        {{/if}}
    </div>
</div>
